{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

                        <!-- Post -->
                            <article class="post">
                                <header>
                                    <div class="title">
                                        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                                        <p>{{ article.summary }}</p>
                                    </div>
                                    <div class="meta">
                                        <time class="published" datetime="{{ article.date }}">{{ article.locale_date|title }}</time>
                                        <a href="#" class="author"><span class="name">{{ article.author }}</span><img src="{{ SITEURL }}/images/avatar.jpg" alt="" /></a>
                                    </div>
                                </header>
                                <a href="{{ SITEURL }}/images/{{ article.picture }}" class="image featured"><img src="{{ SITEURL }}/images/{{ article.picture }}" alt="" /></a>
                                <p>{{ article.content }}</p>
                                <footer>
                                    <ul class="stats">
                                        {% for articles_tag, articles in tags|sort %}
                                            {% for tag in article.tags %}
                                                {% if tag == articles_tag %}
                                                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </footer>
                            </article>

                    {% include 'disqus_script.html' %}

{% endblock content %}







