{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

                    {% if articles %}

                        {% for article in articles_page.object_list %}

                        <!-- Post -->
                            <article class="post">
                                <header>
                                    <div class="title">
                                        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                                        <p>{{ article.summary }}</p>
                                    </div>
                                    <div class="meta">
                                        <time class="published" datetime="{{ article.date }}">{{ article.locale_date|title }}</time>
                                        <a href="#" class="author"><span class="name">{{ article.author }}</span><img src="{{ SITEURL }}/images/avatar.jpg" alt="" /></a>
                                    </div>
                                </header>
                                <a href="{{ SITEURL }}/{{ article.url }}" class="image featured"><img src="{{ SITEURL }}/images/small/{{ article.picture }}" alt="" /></a>
                                <p>{{ article.content }}</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="{{ SITEURL }}/{{ article.url }}" class="button big">Continue Reading</a></li>
                                    </ul>
                                    <ul class="stats">
                                        {% for articles_tag, articles in tags|sort %}
                                            {% for tag in article.tags %}
                                                {% if tag == articles_tag %}
                                                    <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </footer>
                            </article>

                        {% endfor %}
                    {% endif %}

						<!-- Pagination -->
							<ul class="actions pagination">


							{% if articles_page.has_previous() %}
								{% if articles_page.previous_page_number() == 1 %}
									<li><a href="{{ SITEURL }}/{{ page_name }}.html" class="button big previous">Previous Page</a></li>
								{% else %}
									<li><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="button big previous">Previous Page</a></li>
								{% endif %}
							{% else %}
								<li><a href="" class="disabled button big previous">Previous Page</a></li>
							{% endif %}


							{% if articles_page.has_next() %}
								<li><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="button big next">Next Page</a></li>
							{% else %}
								<li><a href="#" class="disabled button big next">Next Page</a></li>
							{% endif %}

							</ul>

                            {% include 'disqus_script.html' %}

{% endblock content %}
